<div class="container mt-4">
  <h1>Agregar Producto</h1>
  <hr>

  <form [formGroup]="productoForm">
    <div class="row g-3 align-items-center">
      <div class="col-auto">
        <label for="nombre" class="col-form-label">Nombre:</label>
      </div>
      <div class="col-auto">
        <input type="text" id="nombre" class="form-control" placeholder="Nombre..." formControlName="nombre">
      </div>
      <div class="col-auto">
        <span *ngIf="tieneError('nombre')" error-msg [color]="color" [message]="errNombreMsg"></span>
      </div>
    </div>
    <div class="d-grid mt-4 gap-2 justify-content-sm-start">
      <button type="submit" class="btn btn-primary">Guardar</button>
      <button type="button" (click)="cambiarColor()" class="btn btn-secondary">Cambiar color</button>
    </div>
  </form>


  <div class="row mt-4">
    <h3>Formulario</h3>
    <div class="col">
      <h4>Value:</h4>
      <pre>{{productoForm.value | json}}</pre>
    </div>
    <div class="col">
      <h4>Valid:</h4>
      <pre>{{productoForm.valid | json}}</pre>
    </div>
  </div>
</div>
